# Logs
logs
*.log

# Dependency directories
node_modules/
jspm_packages/

# Build files
dist/
build/

# Environment variables
.env

# Editor files
.vscode/
.idea/
*.swp
*.swo

# OS files
.DS_Store
Thumbs.db

node_modules

